# Godot 4+
.godot/
.import/

# Export (optional, aber sinnvoll)
.export/
.export_presets.cfg

# IDE (PyCharm)
.idea/

# Temp Dateien
*.tmp

# OS
.DS_Store
Thumbs.db

# Android (falls genutzt)
android/